doctype html
html
	head
		title #{title} | SizzleDocs - Never Get Burned By Storage Again
		link(rel='stylesheet', href='../../css/gumby.css')
		script.
			var handle = function() {
				var email = document.getElementById("email").value;
				var username = document.getElementById("username").value;
				var password = document.getElementById("password").value;
				//console.log("email:", email);
				//console.log("username:", username);
				//console.log("password:", password);

				var data = {
					'email': email,
					'username': username,
					'password': password
				}
				$.ajax({
					url: 'http://localhost:3000/create',
					data: data,
					dataType: 'json',
					type: 'POST',
					success: function(response) {
					alert("Submitted");
					console.log(JSON.stringify(response, null, 2));
					window.location.href=response.url
					}
				})
			}
	body
		div.metro
			div.row
				div(class="centered twelve columns")
					h3=title

					form(id="userRegistration", name="userRegistration", method='post')
						fieldset
							ul
								li(class="field", id="emailItem")
									label(class="inline", for="email")="Email Address"
									input(class='narrow text input', id="email", placeholder="Email Address")
								li(class="field")
									label(class="inline", for="username")="Username"
									input(type="text", class="narrow input", id="username", placeholder="Spiderman")
								li(class="field")
									label(class="inline", for="password")="Password"
									input(type="password", class="narrow password input", id="password", placeholder="secretPassword")
								div(class="medium primary btn")
									a(href="#", onclick="handle()", id="submit")="Submit"

		script(src="js/libs/modernizr-2.6.2.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
		script(src="js/libs/jquery-1.10.1.min.js")
		script(gumby-touch="../../js/libs" src="../../js/libs/gumby.min.js")
		//- script.
		//- 	// initialize plugin
		//- 	$('#userRegistration').validation({
		//- 		required: [
		//- 			{
		//- 				name: 'username',
		//- 			},
		//- 			{
		//- 				name: 'email',
		//- 				validate: function($el) {
		//- 					return $el.val().match('@') !== null;
		//- 				}
		//- 			},
		//- 			{
		//- 				name: 'password',
		//- 			}
		//- 		],
		//- 		fail: function() {
		//- 			Gumby.error('Form validation failed');
		//- 		},
		//- 		submit: function(data) {
		//- 			$.ajax({
		//- 				url: 'do/something/with/data',
		//- 				data: data,
		//- 				success: function() {alert("Submitted");}
		//- 			});
		//- 		}
		//- 	});
